{%load static %}
<!Doctype html>
<html>
<head>
<link rel="stylesheet" href="{%static 'css/buysell.css'%}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="navi">
      <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Activity</a></li>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" float="right" ><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
</div>


<div class="mainblock" style="background-color:black;">

  <div class="left">
  
  </div>
  <div class="right">
    
     <div class="righttop">
           <h1> Instructions</h1>
            <h2 font-size="30px"> <center>hello</center></h2>
             <center> Alex</center>
           
     </div>

     <div class="rightbottom">
      <div style="padding-top:5px">
        <input type="text">                      <input type="text"></br>
        <input type="button" value="Buy">        <input type="button" value="Sell"></br>
      </div>
      <div style="padding-top:15px">
         <input type="text">                          <input type="text"></br>
          <input type="button" value="Buy">           <input type="button" value="Sell"> </br>
      </div>
      <div style="padding-top:15px">
          <input type="text">                         <input type="text"></br>
          <input type="button" value="Buy">           <input type="button" value="Sell">  </br>
          </div>
  </div>

</div>
</body>
</html>